<div class="contenedor-principal">

  <div class="container">

    <!-- PANEL DEL LOGOTIPO -->

    <div class="left">

      <div class="logo">
        Insertar imagen creada en canva Logotipo de una tienda de ropa
      </div>

      <!-- Poner nombre de la tienda de Ropa -->
      <h1>Tienda de ropa</h1>

      <p>
        Bienvenido a nuestra tienda online.
        <br>
        Encuentra las mejores prendas con un diseño moderno y elegante.
      </p>

    </div>

    <!-- PANEL DE INICIO DE SESIÓN -->

    <div class="derecha">

      <div class="login-box">

        <h2>Log in</h2>


          <div class="input-group">
            <label>Email</label>
            <input type="email" [(ngModel)]="email" name="email" placeholder="email@gmail.com"/>        
          </div>

          <div class="input-group">
            <label>Password</label>
            <input type="password" [(ngModel)]="password" name="password" placeholder="************"/>
          </div>

          <p class="mensaje-error" *ngIf="mensaje">
            {{ mensaje }}
          </p>

          <button type="button" class="btn" (click)="onLogin()">
            Iniciar sesión
          </button>


        <div class="registro-text">
          <a routerLink="/registro">No tiene cuenta?</a>
        </div>

      </div>

    </div>
  </div>
</div>