<header class="header">
  <div class="header-left">
    <a class="logo" routerLink="/inicio">Golden Thread</a>
    <nav class="nav">
      <a class="nav-item" href="#">Mujer</a>
      <a class="nav-item" href="#">Hombre</a>
      <a class="nav-item" href="#">Niños</a>
      <a routerLink="/registro/producto" class="nav-item" *ngIf="rol === 'VENDEDOR'">Añadir Producto</a>


    </nav>
  </div>

  <div class="header-right">
    <!-- Usuario -->
    <div class="icon user-icon">
      <span class="icon-symbol">👤</span>

      <div class="user-menu">
        <a (click)="editarUser()">Editar usuario</a>
        <!-- Opciones de administración y ventas -->
        <a routerLink="/productos" *ngIf="rol === 'ADMINISTRADOR' || rol === 'VENDEDOR'">Productos</a>
        <a (click)="paginaEmpresa()" *ngIf="rol === 'ADMINISTRADOR' || rol === 'VENDEDOR'">Empresa</a>
        <!-- Solo mostrar para administradores -->
        <a routerLink="/usuarios" *ngIf="rol === 'ADMINISTRADOR'">Usuarios</a>
        <a (click)="logout()">Cerrar sesión</a>
      </div>
    </div>

    <div routerLink="/carrito" class="icon" *ngIf="rol === 'CLIENTE'">
      <span class="icon-symbol">🛒</span>
    </div>
  </div>
</header>
<main class="content">

  <div class="grid-productos">

  <div class="card" *ngFor="let p of productos || []">
      <div class="img-container">
        <img [src]="p.imagenProducto || 'https://placehold.co/400x300?text=Sin+Imagen'" [alt]="p.nombreProducto" />      
      </div>

      <div class="info">
        <p class="marca">{{ p.categoria }}</p>
        <h3 class="nombre">{{ p.nombreProducto }}</h3>

        <div class="precio">
          <span class="actual">{{ p.precio }} €</span>
        </div>

        <button class="btn" (click)="detalleProducto(p.idProducto)">Ver producto</button>
      </div>

    </div>

  </div>

</main>