<!-- Comienzo sin TS nada mas decorativo-->
<header class="header">
  <div class="header-left">
    <span class="logo">Tienda Ropa</span>

    <nav class="nav">
      <a class="nav-item" href="#">Mujer</a>
      <a class="nav-item" href="#">Hombre</a>
    </nav>
  </div>

  <div class="header-right">
    <div class="search-container">
      <input type="text" placeholder="Buscar..." class="search-input" />
    </div>

    <div class="icon user-icon">
      <span>👤</span>

      <div class="user-menu">
        <a href="#">Editar Usuario</a>
        <a href="#">Cerrar Sesión</a>
      </div>
    </div>

    <div class="icon">
      <span>❤️</span>
    </div>

    <div class="icon">
      <span>🛒</span>
    </div>
  </div>
</header>

<main class="content">
  <!-- Aquí irán los productos -->
  <h2>Productos</h2>
</main>
