<header class="header">
  <div class="header-left">
    <a class="logo" routerLink="/inicio">Tienda Ropa</a>
  </div>

  <div class="header-right">
    <!-- Usuario -->
    <div class="icon user-icon">
      <span class="icon-symbol">👤</span>

      <div class="user-menu">
        <a (click)="editarUser()">Editar usuario</a>
        <!-- Opciones de administración y ventas -->
        <a href="#" *ngIf="rol === 'ADMINISTRADOR' || rol === 'VENDEDOR'">Productos</a>
        <!-- Solo mostrar para administradores -->
        <a href="#" *ngIf="rol === 'ADMINISTRADOR'">Usuarios</a>
        <a (click)="logout()">Cerrar sesión</a>
      </div>
    </div>
  </div>
</header>
<main class="content">
  <div class="page-header">
    <h1>Empresas registradas</h1>
    <button class="btn-add" (click)="nuevaEmpresa()">
      + Nueva empresa
    </button>
  </div>
  <div *ngIf="cargando" class="loading">
    <div class="spinner" *ngIf="cargando === true"></div>
    <span>
      Cargando empresas...
    </span>
  </div>
  <ng-container *ngIf="(empresas$ | async) as empresas">
    <div *ngIf="!cargando && empresas.length === 0" class="empty-state">
      <h2>No hay empresas disponibles</h2>
      <p>
        Actualmente no existen empresas registradas.
      </p>
    </div>
    <div class="empresa-grid">
      <div class="empresa-card"
        *ngFor="let empresa of empresas">
        <div class="logo-container">
          <img
          [src]="empresa.logoEmpresa || 'https://placehold.co/400x200?text=Sin+Logo'"
          alt="Logo empresa">
        </div>
        <div class="empresa-info">
          <h3>
            {{empresa.nombreEmpresa}}
          </h3>
          <p class="direccion">
            📍 {{empresa.direccionEmpresa}}
          </p>
          <div class="acciones">
            <button class="btn-editar" (click)="editarEmpresa(empresa.id)">
              Editar
            </button>
            <button class="btn-eliminar" (click)="borrarEmpresa(empresa.id)">
              Eliminar
            </button>
          </div>
          <button class="btn-ver" (click)="verEmpresa(empresa.id)">
            Ver empresa
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</main>