<header class="header">
  <div class="header-left">
    <a class="logo" routerLink="/inicio">Golden Thread</a>
  </div>

  <div class="header-right">
    <div class="icon user-icon">
      <span class="icon-symbol">👤</span>

      <div class="user-menu">
        <a routerLink="/editor/cliente">Editar usuario</a>
        <a (click)="logout()">Cerrar sesión</a>
      </div>
    </div>

    <div routerLink="/carrito" class="icon">
      <span class="icon-symbol">🛒</span>
    </div>
  </div>
</header>
<main class="carrito-container" *ngIf="pedido$ | async as p; else vacio">

  <h2 class="title">Mi carrito</h2>

  <div class="carrito-lista">

    <div class="item" *ngFor="let d of p.detallePedidoDTO">

      <div class="left">
        <div class="nombre">
          {{ d.productoCarritoDTO.nombreProducto }}
        </div>

        <div class="meta">
          Talla: {{ d.productoCarritoDTO.talla }}
          Color: {{ d.productoCarritoDTO.color }}
        </div>
      </div>

      <div class="right">
        <div>Cantidad: {{ d.cantidad }}</div>
        <div>Precio: {{ d.precioUnidad }} €</div>
        <div class="subtotal">Subtotal: {{ d.subtotal }} €</div>

        <button class="btn-eliminar" (click)="eliminar(d.idDetallePedidoDTO)">
          Eliminar
        </button>

      </div>

    </div>

  </div>

  <div class="footer">

    <div class="total">
      Total: <span>{{ p.total }} €</span>
    </div>

    <button class="btn-comprar" (click)="pagarPedido()">
      Comprar
    </button>

  </div>

</main>

<ng-template #vacio>
  <main class="carrito-vacio">
    <p>Tu carrito está vacío</p>
  </main>
</ng-template>