<header class="header">
  <div class="header-left">
    <span class="logo">Tienda Ropa</span>
  </div>

  <div class="header-right">
    <!-- Usuario -->
    <div class="icon user-icon">
      <span class="icon-symbol">👤</span>

      <div class="user-menu">
        <a (click)="logout()">Cerrar sesión</a>
        <!-- Opciones de administración y ventas -->
        <a href="#" *ngIf="rol === 'ADMINISTRADOR' || rol === 'VENDEDOR'">Productos</a>
        <!-- Solo mostrar para administradores -->
        <a href="#" *ngIf="rol === 'ADMINISTRADOR'">Usuarios</a>
        <a href="#" *ngIf="rol === 'ADMINISTRADOR'">Empresa</a>
      </div>
    </div>

    <!-- Carrito -->
    <div class="icon">
      <span class="icon-symbol">🛒</span>
    </div>
  </div>
</header>